body {
	background-color: rgb(88,6,140);
}
#p1{
	font-size: 50px;
	/*font-family: 'Righteous', cursive;*/
	color: white;
	/*top: 40px;*/
	/*text-align: center;*/
	position: relative;
	margin-top: 0%;
	margin-bottom: 3%;
	left:0;

	
}
#p2{
	/*font-family: 'Righteous', cursive;*/
	font-size: 50px;
	color: white;
	/*text-align: center;*/
	position: relative;
	/*top: 70px;*/
	left:0;
}

#p3{
	/*font-family: 'Righteous', cursive;*/
	font-size: 50px;
	color: white;
	/*text-align: center;*/
	position: relative;
	/*top: 90px;*/
	left:0;
}
#p4{
	/*font-family: 'Righteous', cursive;*/
	font-size: 50px;
	color: white;
	position: absolute;
	bottom: 0;
	right: 3%;
}
#p5{
	font-size: 50px;
	color: white;	
	position: relative;	
	left:0;
}

a {
	text-decoration: none;
}



